/* === GLOBAL === */

:root {
    
  }

html {
    font-size: 16px;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 1366px) {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1024px) {
  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
  
/* === FARBEN === */

/*
Blau:              #1F4E8C
Dunkel Grau:       #3D3F45    
Hell Grau:         #E5E5E5
Rot:               #A62C21
*/

/* === GENERELLES === */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
  background-color: #A62C21 !important;
}

body {
    margin: 0;
    font-family: var(--primaere-schriftart), var(--sekundaere-schriftart), var(--tertiaere-schriftart), var(--fallback-schriftart);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

* {
    box-sizing: border-box;
}

.intro-container{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {
  .intro-container{
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .intro-container{
    width: 100%;
  }
}

.intro-container > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.intro-container > p {
  font-size: 1.2rem;
}

@media (max-width: 1366px) {
  .intro-container > p {
    margin-bottom: .5rem;
  }
}

@media (max-width: 1024px) {
  .intro-container > p {
    margin-bottom: 0;
  }
}

/* === NAVIGATIONSLEISTE === */

#header-nav {
    width: 100%;
    height: 50px;
    background-color: #3D3F45;
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  #header-nav a > img {
    height: 30px;
    width: auto;
    margin: .55rem;
    float: left;
  }
  
  #header-nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
  }
  
  #header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 .4rem 0 .4rem;
  }
  
  #header-nav ul > li > a {
    margin-top: .8rem;
    display: inline-block;
  }
  
  #header-nav ul > li > a:link {
    color: #fff;
    text-decoration: none;
  }

  #header-nav ul > li > a:visited {
    color: #fff;
    text-decoration: none;
  }

  #header-nav ul > li > a:active {
    color: #E5E5E5;
    text-decoration: none;
  }
  
  #header-nav ul > li > a:hover {
    color: #E5E5E5;
    text-decoration: none;
  }
  
  #header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #header-nav .container,
  #header-nav .row,
  #header-nav .col-6 {
    height: 100%;
  }
  
  .logo-link {
    display: inline-block;
  }
  
  /* === NAVIGATIONSLEISTE (MOBIL) === */
  
  #mobile-nav-button {
    color: #fff;
    float: right;
    font-size: 2rem;
    border: 2px solid #fff;
    width: 37px;
    height: 37px;
    position: relative;
    margin-top: .4rem;
    margin-bottom: .5rem;
  }
  
  #mobile-nav-button > span {
    position: absolute;
    top: -9px;
    left: 6px;
  }
  
  #mobile-nav-content > ul > li {
    display: block;
    background-color: #3D3F45;
    height: 60px;
    padding: 0 1.2rem;
    text-align: center;
  }
  
  #mobile-nav-dropdown {
    position: relative;
    float: right;
  }
  
  #mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
  }
  
  #mobile-nav-dropdown:hover > #mobile-nav-content {
    display: block;
  }
  
  #mobile-nav {
    display: none;
  }
  
  @media (max-width: 1300px) {
  
    #desktop-nav {
      display: none;
    }
  
    #mobile-nav {
      display: block;
    }
  
  }

/* === HEADER-BANNER === */ 

.header-banner {
    background: url("../img/header.png") no-repeat; /* nicht wiederholen */
    width: 100%; /* immer volle Breite */
    height: 0;  /* weil Höhe über padding-top eingestellt wird */
    padding-top: 34.33%; /* Seitenverhältnis vom Bild ( Höhe / Breite * 100 ) */
    background-size: contain; /* Inhalt im kompletten Bereich */
}

/* === INFO-BEREICH === */

.info-box {
  background-color: #3D3F45;
  text-align: center;
  color: #fff;
  width: 60%;
  height: 450px;
}

.info-box-text {
  padding: 0rem 3rem 2.5rem;
}

#info-bereich .row > .col-3:nth-of-type(even) > .info-box { /* Selektion auf gerade Boxen */
  margin-left: 1rem;
  margin-right: auto;
}

#info-bereich .row > .col-3:nth-of-type(odd) > .info-box { /* Selektion auf ungerade Boxen */
  margin-right: 1rem;
  margin-left: auto;
}

.info-box > h2 {
  font-size: 1.4rem;
}

.info-weiterlesen-btn {
  text-decoration: none;
  height: 40px;
  border: 2px solid #fff;
  display: inline-block;
  padding-top: .4rem;
  width: 40%;
  min-width: 110px;
  margin-top: 1rem;
}

.info-weiterlesen-btn:link {
  color: #fff;
}

.info-weiterlesen-btn:visited {
  color: #fff;
}

.info-weiterlesen-btn:active {
  color: #fff;
}

.info-weiterlesen-btn:hover {
  color:  #A62C21;
  font-weight: bold;
  border: 2px solid #A62C21;
}

#info-bereich img {
  width: 100%;
  height: auto;
}

@media (max-width: 1366px) {
  .info-box {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .info-box {
    width: 100%;
    margin-bottom: .6rem;
  }

  #info-bereich .row > .col-3:nth-of-type(even) > .info-box { /* Selektion auf gerade Boxen */
    margin-left: .5rem;
  }
  
  #info-bereich .row > .col-3:nth-of-type(odd) > .info-box { /* Selektion auf ungerade Boxen */
    margin-right: .5rem;
  }
}

@media (max-width: 768px) {
  #info-bereich .row > .col-3:nth-of-type(even) > .info-box { /* Selektion auf gerade Boxen */
    margin-left: 0rem;
  }
  
  #info-bereich .row > .col-3:nth-of-type(odd) > .info-box { /* Selektion auf ungerade Boxen */
    margin-right: 0rem;
  }
}

/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* clearfix-Hack */
.row::after {
    content: "";
    clear: both;
    display: block;
}

/* Selektor für alle Klassen, die mit col- anfangen */
[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: 0.8rem;
}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%;     }
.col-6 { width: 100%;    }

/*

=== WICHTIGE BREAKPOINTS ===

 480  px  (iPhone Querformat)
 768  px  (iPad Hochformat)
 1024 px  (iPad Querformat)

*/

@media (max-width: 1024px) {
    .col-1 { width: 33.333%; }
}

@media (max-width: 768px) {
    .col-1 { width: 50%;  }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
}

@media (max-width: 480px) {
    .col-1 { width: 100%; }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
}