/* === GLOBAL === */

:root {
/* === FARBEN === */

--color-gray-dark: #3D3F45;  
--color-gray-light: #E5E5E5;
--color-green: #4F7F13; /* Geändert um den Kontast zu erhöhen */
}

html {
    font-size: 16px;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 1366px) {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1024px) {
  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

/* === GENERELLES === */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
  background-color: var(--color-green) !important;
}

body {
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
  }

* {
    box-sizing: border-box;
}

.intro-container{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {
  .intro-container{
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .intro-container{
    width: 100%;
  }
}

.intro-container > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.intro-container > p {
  font-size: 1.2rem;
}

@media (max-width: 1366px) {
  .intro-container > p {
    margin-bottom: .5rem;
  }
}

@media (max-width: 1024px) {
  .intro-container > p {
    margin-bottom: 0;
  }
}

/* === NAVIGATIONSLEISTE === */

#header-nav {
    width: 100%;
    height: 50px;
    background-color: var(--color-gray-dark);
    position: relative;
    font-weight: bold;
    font-size: 1rem;
  }
  
  #header-nav a > img {
    height: 40px;
    width: auto;
    margin: 0.3rem;
    float: left;
  }
  
  #header-nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
  }
  
  #header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 .6rem 0 .6rem;
  }
  
  #header-nav ul > li > a {
    margin-top: .8rem;
    display: inline-block;
  }
  
  #header-nav ul > li > a:link {
    color: #fff;
    text-decoration: none;
  }

  #header-nav ul > li > a:visited {
    color: #fff;
    text-decoration: none;
  }

  #header-nav ul > li > a:active {
    color: var(--color-gray-light);
    text-decoration: none;
  }
  
  #header-nav ul > li > a:hover {
    color: var(--color-gray-light);
    text-decoration: none;
  }
  
  #header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #header-nav .container,
  #header-nav .row,
  #header-nav .col-6 {
    height: 100%;
  }
  
  .logo-link {
    display: inline-block;
  }
  
  /* === NAVIGATIONSLEISTE (MOBIL) angepasst für Barrierefreiheit === */

  #mobile-nav-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: transparent;
  background: transparent;
  background-image: none;

  color: #fff;
  float: right;
  font-size: 2rem;
  border: 2px solid #fff;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: .4rem;
  margin-bottom: .5rem;

  padding: 0;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
}
  
  #mobile-nav-button > span {
    position: absolute;
    top: -9px;
    left: 6px;
  }
  
  
  #mobile-nav-content > ul > li {
    display: block;
    background-color: var(--color-gray-dark);
    height: 60px;
    padding: 0 1.2rem;
    text-align: center;
  }
  
  #mobile-nav-dropdown {
    position: relative;
    float: right;
  }
  
  #mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
  }
  
  #mobile-nav-dropdown:hover > #mobile-nav-content {
    display: block;
  }
  
  #mobile-nav {
    display: none;
  }
  
  @media (max-width: 1300px) {
  
    #desktop-nav {
      display: none;
    }
  
    #mobile-nav {
      display: block;
    }
  
  }

/* === HEADER-BANNER === */ 

.header-banner-start {
    background: url("../img/football-6994604.jpg") no-repeat; /* nicht wiederholen */
    width: 100%; /* immer volle Breite */
    height: 0;  /* weil Höhe über padding-top eingestellt wird */
    padding-top: 34.33%; /* Seitenverhältnis vom Bild ( Höhe / Breite * 100 ) */
    background-size: contain; /* Inhalt im kompletten Bereich */
}

.header-banner-ernaehrung {
  background: url("../img/healthy-5506822.jpg") no-repeat; /* nicht wiederholen */
  width: 100%; /* immer volle Breite */
  height: 0;  /* weil Höhe über padding-top eingestellt wird */
  padding-top: 34.33%; /* Seitenverhältnis vom Bild ( Höhe / Breite * 100 ) */
  background-size: contain; /* Inhalt im kompletten Bereich */
} 

.header-banner-regeneration {
  background: url("../img/spa-8598061.jpg") no-repeat; /* nicht wiederholen */
  width: 100%; /* immer volle Breite */
  height: 0;  /* weil Höhe über padding-top eingestellt wird */
  padding-top: 34.33%; /* Seitenverhältnis vom Bild ( Höhe / Breite * 100 ) */
  background-size: contain; /* Inhalt im kompletten Bereich */
}

.header-banner-vorbereitung {
  background: url("../img/city-1868530.jpg") no-repeat; /* nicht wiederholen */
  width: 100%; /* immer volle Breite */
  height: 0;  /* weil Höhe über padding-top eingestellt wird */
  padding-top: 34.33%; /* Seitenverhältnis vom Bild ( Höhe / Breite * 100 ) */
  background-size: contain; /* Inhalt im kompletten Bereich */
}

.header-banner-praevention {
  background: url("../img/football-1319608.jpg") no-repeat; /* nicht wiederholen */
  width: 100%; /* immer volle Breite */
  height: 0;  /* weil Höhe über padding-top eingestellt wird */
  padding-top: 34.33%; /* Seitenverhältnis vom Bild ( Höhe / Breite * 100 ) */
  background-size: contain; /* Inhalt im kompletten Bereich */
}

/* === INFO-BEREICH === */

.info-box {
  background-color: var(--color-gray-dark);
  text-align: center;
  color: #fff;
  width: 60%;
  height: 450px;
}

.info-box-text {
  padding: 0rem 3rem 2.5rem;
}

#info-bereich .row > .col-3:nth-of-type(even) > .info-box { /* Selektion auf gerade Boxen */
  margin-left: 1rem;
  margin-right: auto;
}

#info-bereich .row > .col-3:nth-of-type(odd) > .info-box { /* Selektion auf ungerade Boxen */
  margin-right: 1rem;
  margin-left: auto;
}

.info-box h2 {
  font-size: 1.4rem;
}

.info-weiterlesen-btn {
  text-decoration: none;
  border: 2px solid #fff;
  display: inline-block;
  padding: .5rem 1rem;   /* oben/unten und links/rechts */
  min-width: 110px;
  margin-top: 1rem;
  width: auto;
  text-align: center;
  line-height: 1.3;
}

.info-weiterlesen-btn:link {
  color: #fff;
}

.info-weiterlesen-btn:visited {
  color: #fff;
}

.info-weiterlesen-btn:active {
  color: #fff;
}

.info-weiterlesen-btn:hover {
  color: #fff; /* von grau auf weiß geändert, um den Kontrast zu erhöhen */
  font-weight: bold;
  border: 2px solid var(--color-green);
}

#info-bereich img {
  width: 100%;
  height: auto;
}

@media (max-width: 1366px) {
  .info-box {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .info-box {
    width: 100%;
    margin-bottom: .6rem;
  }

  #info-bereich .row > .col-3:nth-of-type(even) > .info-box { /* Selektion auf gerade Boxen */
    margin-left: .5rem;
  }
  
  #info-bereich .row > .col-3:nth-of-type(odd) > .info-box { /* Selektion auf ungerade Boxen */
    margin-right: .5rem;
  }
}

@media (max-width: 768px) {
  #info-bereich .row > .col-3:nth-of-type(even) > .info-box { /* Selektion auf gerade Boxen */
    margin-left: 0rem;
  }
  
  #info-bereich .row > .col-3:nth-of-type(odd) > .info-box { /* Selektion auf ungerade Boxen */
    margin-right: 0rem;
  }
}

/* === INHALT === */

table {
  /* width: 100%; */
  border-spacing: 0;
}

th, td {
  border-bottom: 1px solid var(--color-gray-dark);
  padding: 10px;
}

tr:nth-child(even) {background-color: var(--color-gray-light);}

ul {
  list-style-type: square;
  list-style-position: inside;
}

/* === FOOTER === */

#footer {
  background-color: var(--color-gray-dark);
  height: 2.8rem;
  color: #fff;
}

#footer-nav {
  display: inline-block;
  float: right;
}

#footer-nav a {
  text-decoration: none;
}

#footer-nav a:link {
  color: #fff;
}

#footer-nav a:visited {
  color: #fff;
}

#footer-nav a:active {
  color: #fff;
}

#footer-nav a:hover {
  color: var(--color-gray-light);
}

@media (max-width: 565px) {
  #footer span {
    display: none;
  }
}

/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* clearfix-Hack */
.row::after {
    content: "";
    clear: both;
    display: block;
}

/* Selektor für alle Klassen, die mit col- anfangen */
[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: 0.8rem;
}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%;     }
.col-6 { width: 100%;    }

/*

=== WICHTIGE BREAKPOINTS ===

 480  px  (iPhone Querformat)
 768  px  (iPad Hochformat)
 1024 px  (iPad Querformat)

*/

@media (max-width: 1024px) {
    .col-1 { width: 33.333%; }
}

@media (max-width: 768px) {
    .col-1 { width: 50%;  }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
}

@media (max-width: 480px) {
    .col-1 { width: 100%; }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
}

/* === Styles für Barrierefreiheit === */
a:focus,
button:focus {
    outline: 3px solid #000;
    outline-offset: 3px;
}

.skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
}

.skip-link:focus {
    left: 1rem;
    top: 1rem;
    z-index: 1000;

    background-color: #000;
    color: #fff;
    padding: .5rem 1rem;
    text-decoration: none;
}

.info-box h2 a {
  color: #fff;
  text-decoration: none;
}

.info-box h2 a:visited {
  color: #fff;
}

.info-box h2 a:hover {
  color: var(--color-green);
}